* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif, Arial, Helvetica;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
background: radial-gradient(circle at -8.9% 51.2%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
  background-attachment: fixed;
  height: 100vh;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 9px;
  width: 100%;
}
.logo img {
  width: 120px;
}

.menu {
  display: flex;
  gap: 80px;
  font-size: 25px;
}

.menu-text {
  color: white;
}
section {
  height: 63vh;
  width: 50vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.quadrado {
  color: white;
  border: 3px solid white;
  background: rgba(255, 255, 255, 0.644);
  height: 150px;
  width: 250px;
}

.container img {
  height: 140px;
  width: 240px;
  margin: 2px;
}

footer {
  color: white;
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 8vh;
}
footer img {
  height: 45px;
  margin: 80px 0 10px 0;
}

footer span {
  color: white;
  margin: 80px 0 10px 0;
}
.text-flex {
  display: flex;
  align-items: center;
  gap: 25px;
}

@media (max-widht: 800px) {
  header {
    padding: 0;
  }
  .text-flex {
    gap: 10px;
  }
  footer {
    display: none;
  }
}
